[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	overflow: hidden;
}

.header {
	height:40px;
	font-size:18px;
	color:#fff;
	background-color: #0095ff;
	margin-bottom: 10px;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: sans-serif;
}

.header > span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.employee {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 200px;
	border:solid 1px silver;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100px;
	margin:20px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	    -ms-flex-direction: column;

	        flex-direction: column;

}

.employee:hover {
	background-color: #696767;
	color:#fff;
}

.employee-name {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 5px;
}

.email {
	font-style: italic;
	color: #0c8896;
	margin-top: 6px;
}

.employee:hover .email{
	color:#fff;
}

.filter-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: fixed;
	top: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width:100%;
}

input[type=text] {
	height:27px;
	border:solid 1px #70aadb;
	border-radius: 2px;
	padding-left: 10px;

}

.cards-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 100px;
	max-height: 500px;
	overflow-y: auto;
}

.menu-bars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-right: 13px;
	font-size: 30px;
}
